form {

  margin-bottom: 1.75rem;
   & div {
    position: relative;
    
    
    & input {
      height: 3.5rem;
      background-color: transparent;
      border-radius: 12px;
      border: 0;
      border: 1px solid var(--gray-400);
      text-align: left;
      padding: 1rem;
      width: 20rem;
      outline: transparent;

      &:hover, &:focus {
        border: 2px solid var(--color-pink);
      }
    }

    & button {
      outline: transparent;
      position: absolute;
      right: 0.8rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      background-color: var(--gray-700);
      border-radius: .5rem;
      border: transparent;

      & img {
        border-radius: .5rem;
        height: 100%;
      }

      & :hover {
        background-color: var(--gray-600);
      }

      &:disabled {
        background-color: var(--gray-500);
        cursor: not-allowed;
      }
    }
   }
   
}

@media (width >= 80em) {
  & form{
    & input {
      width: 25rem;
    }
  }
}