main {
  display: grid;
  gap: .5rem;

  & section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 1.25rem;
  }
}

@media (width >=80em) {
  & main {
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}